body {
    background: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

h1 {
    color: #fff;
    font-size: 30px;
}

h2 {
    color: #fff;
    font-size: 26px;
}

p {
    font-size: 16px;
    color: #fff
}

a {
    text-decoration: none;
    color: #000000;
    z-index: 2;
}

.container {
    z-index: 1;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    max-width: 1480px;
}