.container {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.painting {
  padding: 10px;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}
.painting__left {
  width: 200%;
  -o-object-fit: cover;
     object-fit: cover;
}
.painting__left img {
  width: 100%;
}
.painting__right {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.painting__right h2 {
  margin-bottom: 30px;
}

.forward img, .back img {
  cursor: pointer;
  width: 50px;
  user-select: none;
}
.forward img:active, .back img:active {
  transform: translateY(-2px);
}
