<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: Artem Elyashevich,
    Category: gallery">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" href="../assets/Shagal_Choumoff.jpg">
    <link rel="stylesheet" href="../style/layout.css">
    <link rel="stylesheet" href="../style/painting.css">
    <link rel="stylesheet" href="../style/index.css">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <h1>Картинная галерея</h1>
        </a>
        <p>Посвященная творчеству Марка Шагала</p>
    </header>
    <div class="container">
        <div class="paint"></div>
    </div>
    <footer>
        <h3>©Все права защищены.</h3>
        <a href="https://github.com/artemelyashevich">
            <p>Разработал Эльяшевич Артём</p>
        </a>
    </footer>
    <script src="./js/db.js"></script>
    <script src="../js/painting.js"></script>
</body>

</html>