<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: Artem Elyashevich,
    Category: gallery">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" href="../assets/Shagal_Choumoff.jpg">
    <link rel="stylesheet" href="../style/layout.css">
    <link rel="stylesheet" href="../style/painting.css">
    <link rel="stylesheet" href="../style/index.css">
    <title>Картина</title>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <div class="back">
        </div>
        <div class="painting"></div>
        <div class="forward">
        </div>
    </div>
    <footer>
    </footer>
    <script src="../js/layout.js"></script>
    <script src="../js/db.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/painting.js"></script>
</body>
</html>
